{% extends "layout.twig" %}

{% block title %}logout{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    building {{ user_name }}

    <!-- Content Row -->
    <div class="row">
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Holzfäller</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Stufe {{ building_level }}</div>
                        </div>
                        <div class="col-auto">
                            {% if money >= building_cost %}
                            <a href="{{ url }}Game/Building/build/id/1"><i class="fas fa-clinic-medical fa-2x text-success"></i></a>
                            {% else %}
                            <i class="fas fa-clinic-medical fa-2x text-red"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}