body {
    background-color: #000c15;
    color: green;
}

.form-control {
    border-radius: 0;
    background-color: #1e1e1e;
}

.btn-primary {
    border: 1px green solid;
    border-radius: 0;
    background-color: #00070d;
    color: green;
}

.btn-primary:hover {
    border: 1px green solid;
    border-radius: 0;
    background-color: #00070d;
}

.btn-primary:focus-within {
    border: 1px green solid;
    border-radius: 0;
    background-color: #00070d;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: green;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
    background-color: #1e1e1e;
}